#para1{
	 text-align: center;
	font-size:large;
	font-weight: bold;
	font-family: sans-serif;
	color: grey;
}
.title{
	 color: violet;
}
#para2{
	 text-align: center;
	 font-size: small;
	 font-weight: bold;
	 font-family: sans-serif;
	 color: grey;
}
.table1{
	 border-style: solid;
	 border-width: 5px;
	 border-color: transparent;
}
.a1{
	 font-size: x-large;
	 font-family: sans-serif;
	 font-weight: bold;
}
#para3{
	 text-align: center;
}
#para4{
	 text-align: center;
	 font-weight: bold;
	 font-family: sans-serif;
	 color: grey;
}
#para5{
	 text-align: center;
}
#para6{
	 color: red;
	 font-style: sans-serif;
	 font-weight: bold;
}
