#para1{
	 text-align: center;
	font-size:large;
	font-weight: bold;
	font-family: sans-serif;
	color: grey;
}
.title{
	 color: violet;
}
#para2{
	 text-align: center;
	 font-size: small;
	 font-family: sans-serif;
	 color: white;
}
